<ion-header>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-toolbar>
        <ion-title>All Movies</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="isLoading" text-center>
        <ion-spinner color="primary"></ion-spinner>
    </div>
    <ion-searchbar
            (ionChange)="onSearchInput()"
            [(ngModel)]="searchTerm"
    ></ion-searchbar>
<div *ngIf="!isLoading && loadedMovies?.length > 0">
    <div class="movies-flex">
        <div class="movie" *ngFor="let m of items">
            <div class="poster">
                <img [src]="m.imageUrl" class="poster">
            </div>
            <div class="title">{{ m?.title }}</div>
            <div class="year"> 2019 </div>
            <div class="vote"><ion-icon name="star"><b>{{m.rating}}</b>/10</ion-icon></div>
        </div>
    </div>
</div>

</ion-content>
